{% extends 'base.html.twig' %}

{% block title %}API-kortlek{% endblock %}

{% block body %}
<h1>API - Kortlek</h1>

<p>Detta API låter dig interagera med en kortlek:</p>

        <ul>
            {% for route in routes %}
                {% if route.method == 'GET' %}
                    <li>
                        <strong>{{ route.name }}</strong><br>
                        <code><a href="{{ route.path }}">{{ route.path }}</a></code><br>
                        <em>{{ route.description }}</em>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>



<p><a href="{{ path('card_index') }}">Tillbaka till kort-menyn</a></p>
{% endblock %}
