{% extends 'base.html.twig' %}

{% block title %}Session{% endblock %}

{% block body %}
    <h1>Sessioninnehåll</h1>

    {% for message in app.flashes('notice') %}
        <div style="color: green;">{{ message }}</div>
    {% endfor %}

    {% if session is empty %}
        <p>Sessionen är tom.</p>
    {% else %}
        <ul>
            {% for key, value in session %}
                <li>
                    <strong>{{ key }}</strong>:
                    {% if key == 'deck' and value is iterable %}
                        <p>{{ value|join(', ') }}</p>
                        <p><em>{{ value|length }} kort kvar i leken.</em></p>
                    {% else %}
                        <pre>{{ value|json_encode(constant('JSON_PRETTY_PRINT') b-or constant('JSON_UNESCAPED_UNICODE')) }}</pre>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <p><a href="{{ path('session_delete') }}">Rensa session</a></p>
    <p><a href="{{ path('card_index') }}">Tillbaka till kort-menyn</a></p>
{% endblock %}
